@tailwind base;
@tailwind components;
@tailwind utilities;
.label { @apply block text-xs font-bold text-gray-500 uppercase mb-1; }
.input { @apply w-full border border-gray-300 p-2.5 rounded-lg focus:ring-2 focus:ring-indigo-500 outline-none text-gray-800 font-medium; }
.payment-btn {
  @apply flex flex-col items-center justify-center p-3 rounded-xl border transition h-20;
}
.payment-btn.active {
  @apply border-indigo-500 bg-indigo-50;
}